body {
    background-image:    url("assets/form.png");
    background-size:     contain;                      /* <------ */
    background-position: center;              /* optional, center the image */
}

#btnindex {  
    margin-left: 580px;
    margin-top: 25px;
    width: 500px;
    height: 45px;   
    background: transparent;
    border: none;
    color: white;   
    font-size:14px;
    font-weight:700;
}
