
body {
    background-image:    url("assets/fulldetails.png");
    background-size:     contain;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center;              /* optional, center the image */
}

.cart {
  border-radius: 25px;
  position: absolute;
  top:4.8%;
  left:88.2%;
  font-family: futura;
  font-size: 23;
  font-weight: italic;
  background-color: white;
}

.cart-flyout {
  border-radius: 25px;
  position: absolute;
  top:90%;
  left:54%;
  font-family: futura;
  font-size: 17;
  font-weight: italic;
}

.black-circle {
  border-radius: 25px;
  position: absolute;
  top:49.6%;
  left:54%;
  height: 45px;
  width: 45px;
  border-color: black;
  border-width: 1px;
  background-color: black;
}

.red-circle {
  border-radius: 25px;
  position: absolute;
  top:49.6%;
  left: 57%;
  height: 45px;
  width: 45px;
  border-color: #D3350F;
  border-width: 1px;
  background-color: #D3350F;
}

.orange-circle {
  border-radius: 25px;
  position: absolute;
  top:49.6%;
  left: 60%;
  height: 45px;
  width: 45px;
  border-color: #F49B0E;
  border-width: 1px;
  background-color: #F49B0E;
}

.blue-circle {
  border-radius: 25px;
  position: absolute;
  top:49.6%;
  left: 63%;
  height: 45px;
  width: 45px;
  border-color: #55808E;
  border-width: 1px;
  background-color: #55808E;
}

.color-text {
  position: absolute;
  top:47%;
  left:68%;
  font-family: futura;
  font-size: 25;
  font-weight: italic;
}


.size-select {
  position: relative;
  top:60%;
  left:54%;
  font-family: futura;
}

.quantity-select {
  position: relative;
  top:54%;
  left:54%;
  font-family: futura;
}

.add-to-bag {
  position: absolute;
  top:77%;
  left:54%;
  font-family: futura;
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 30px 50px;
  text-align: center;
  font-size: 16px;
}

.btnindex {  
    margin-left: 50%;
    margin-top: 25px;
    width: 500px;
    height: 45px;   
    background: transparent;
    border: none;
    color: white;   
    font-size:14px;
    font-weight:700;
}
